# Table of contents 

01. Import Libraries 
02. Import Datasets 
03. Data Checks 
04. Export Dataset

### 01. Import Libraries

In [1]:
# Import Libraries

import pandas as pd 
import numpy as np
import os

### 02. Import datasets

In [2]:
# Define the file path
file_path_1 = "/Users/biancaskyehoney/Documents/World Happiness Report /02 Data /Original Data /2015.csv"
file_path_2 = "/Users/biancaskyehoney/Documents/World Happiness Report /02 Data /Original Data /2016.csv"
file_path_3 = "/Users/biancaskyehoney/Documents/World Happiness Report /02 Data /Original Data /2017.csv"
file_path_4 = "/Users/biancaskyehoney/Documents/World Happiness Report /02 Data /Original Data /2018.csv"
file_path_5 = "/Users/biancaskyehoney/Documents/World Happiness Report /02 Data /Original Data /2019.csv"

In [3]:
# Read the CSV file into a DataFrame
df_2015 = pd.read_csv(file_path_1)
df_2016 = pd.read_csv(file_path_2)
df_2017 = pd.read_csv(file_path_3)
df_2018 = pd.read_csv(file_path_4)
df_2019 = pd.read_csv(file_path_5)

### 03. Data Checks

In [4]:
# Print column headers

print(list(df_2015.columns))
print('-----------')
print(list(df_2016.columns))
print('-----------')
print(list(df_2017.columns))
print('-----------')
print(list(df_2018.columns))
print('-----------')
print(list(df_2019.columns))

['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']
-----------
['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']
-----------
['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.', 'Dystopia.Residual']
-----------
['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
-----------
['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

#### Rename headings to ensure uniformity.

In [5]:
df_2015.rename(columns={'Happiness Rank':'Rank',
              'Happiness Score':'Score',
              'Economy (GDP per Capita)':'GDP',
             'Health (Life Expectancy)':'Life Expectancy',
              'Trust (Government Corruption)':'Corruption'
             },inplace=True)

df_2016.rename(columns={'Happiness Rank':'Rank',
              'Happiness Score':'Score',
              'Economy (GDP per Capita)':'GDP',
             'Health (Life Expectancy)':'Life Expectancy',
              'Trust (Government Corruption)':'Corruption'
            },inplace=True)

df_2017.rename(columns={'Happiness.Rank':'Rank',
              'Happiness.Score':'Score',
              'Economy..GDP.per.Capita.':'GDP',
             'Health..Life.Expectancy.':'Life Expectancy',
              'Trust..Government.Corruption.':'Corruption'
            },inplace=True)

df_2018.rename(columns={'Overall rank':'Rank','Country or region':'Country',
              'Freedom to make life choices':'Freedom',
              'GDP per capita':'GDP', 
             'Healthy life expectancy':'Life Expectancy',
              'Perceptions of corruption':'Corruption',
            },inplace=True)

df_2019.rename(columns={'Overall rank':'Rank','Country or region':'Country',
              'Freedom to make life choices':'Freedom',
              'GDP per capita':'GDP', 
             'Healthy life expectancy':'Life Expectancy',
              'Perceptions of corruption':'Corruption',
            },inplace=True)

In [6]:
print(df_2015.shape)
print(df_2016.shape)
print(df_2017.shape)
print(df_2018.shape)
print(df_2019.shape)

(158, 12)
(157, 13)
(155, 12)
(156, 9)
(156, 9)

In [7]:
print(df_2015.isnull().sum())
print(df_2016.isnull().sum())
print(df_2017.isnull().sum())
print(df_2018.isnull().sum())
print(df_2019.isnull().sum())

Country              0
Region               0
Rank                 0
Score                0
Standard Error       0
GDP                  0
Family               0
Life Expectancy      0
Freedom              0
Corruption           0
Generosity           0
Dystopia Residual    0
dtype: int64
Country                      0
Region                       0
Rank                         0
Score                        0
Lower Confidence Interval    0
Upper Confidence Interval    0
GDP                          0
Family                       0
Life Expectancy              0
Freedom                      0
Corruption                   0
Generosity                   0
Dystopia Residual            0
dtype: int64
Country              0
Rank                 0
Score                0
Whisker.high         0
Whisker.low          0
GDP                  0
Family               0
Life Expectancy      0
Freedom              0
Generosity           0
Corruption           0
Dystopia.Residual    0
dtype: int64
Rank               0
Country            0
Score              0
GDP                0
Social support     0
Life Expectancy    0
Freedom            0
Generosity         0
Corruption         1
dtype: int64
Rank               0
Country            0
Score              0
GDP                0
Social support     0
Life Expectancy    0
Freedom            0
Generosity         0
Corruption         0
dtype: int64

In [8]:
df_2016['year']=2016
df_2017['year']=2017
df_2015['year']=2015
df_2018['year']=2018
df_2019['year']=2019
df_all=pd.concat([df_2015,df_2016,df_2017,df_2018,df_2019],axis=0)
df_all.shape

(782, 19)

In [9]:
df_all. head ()

,Country,Region,Rank,Score,Standard Error,GDP,Family,Life Expectancy,Freedom,Corruption,Generosity,Dystopia Residual,year,Lower Confidence Interval,Upper Confidence Interval,Whisker.high,Whisker.low,Dystopia.Residual,Social support
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_all.isnull().sum()

Country                        0
Region                       467
Rank                           0
Score                          0
Standard Error               624
GDP                            0
Family                       312
Life Expectancy                0
Freedom                        0
Corruption                     1
Generosity                     0
Dystopia Residual            467
year                           0
Lower Confidence Interval    625
Upper Confidence Interval    625
Whisker.high                 627
Whisker.low                  627
Dystopia.Residual            627
Social support               470
dtype: int64

Not all columns were used accross each data set - I have decided to drop those that are not uniform as aquiring this data will be difficult and not pertinent to this study.

In [11]:
df =df_all.drop(['Dystopia Residual','Lower Confidence Interval',
               'Upper Confidence Interval','Whisker.high','Whisker.low','Dystopia.Residual',
              'Social support','Family','Standard Error'],axis=1)
df.head()

,Country,Region,Rank,Score,GDP,Life Expectancy,Freedom,Corruption,Generosity,year
0,Switzerland,Western Europe,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015

In [12]:
df.describe()

,Rank,Score,GDP,Life Expectancy,Freedom,Corruption,Generosity,year
count,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000,782.000000
mean,78.698210,5.379018,0.916047,0.612416,0.411091,0.125436,0.218576,2016.993606
std,45.182384,1.127456,0.407340,0.248309,0.152880,0.105816,0.122321,1.417364
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,40.000000,4.509750,0.606500,0.440183,0.309768,0.054000,0.130000,2016.000000
50%,79.000000,5.322000,0.982205,0.647310,0.431000,0.091000,0.201982,2017.000000
75%,118.000000,6.189500,1.236187,0.808000,0.531000,0.156030,0.278832,2018.000000
max,158.000000,7.769000,2.096000,1.141000,0.724000,0.551910,0.838075,2019.000000

In [13]:
df.isnull().sum()

Country              0
Region             467
Rank                 0
Score                0
GDP                  0
Life Expectancy      0
Freedom              0
Corruption           1
Generosity           0
year                 0
dtype: int64

Regions Not needed for this study - going to combine regions/country column to adjust for missing values

Only 2015 & 2016 have Regions available - we can use these as a data dictionary to map accross missing regions in other datasets

In [14]:
# Create a dictionary that maps countries to regions
region_dict = df_2016.set_index('Country')['Region'].to_dict()

# Map the regions to the countries in the happiness dataframe
df['Region'] = df['Country'].map(region_dict)

In [15]:
df.head()

,Country,Region,Rank,Score,GDP,Life Expectancy,Freedom,Corruption,Generosity,year
0,Switzerland,Western Europe,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015

Now that we have added regions - some countries do not have regions assigned to them - will need to see which countries have missing regions & map by manually searching regions

In [16]:
# Find which countries have a missing region
missing_regions = df[df['Region'].isnull()]['Country'].unique()

# Print the list of countries with missing regions
print("Countries with missing regions:")
for country in missing_regions:
    print(country)

Countries with missing regions:
Oman
Somaliland region
Mozambique
Lesotho
Swaziland
Djibouti
Central African Republic
Taiwan Province of China
Hong Kong S.A.R., China
Trinidad & Tobago
Northern Cyprus
North Macedonia
Gambia

First, I want to see which naming conventions are being used for the current regions that are mapped across the datasert - so that I can name the missing countries regions accordingly

In [17]:
region_counts = df.groupby('Region')['Country'].count()
print(region_counts)

Region
Australia and New Zealand           10
Central and Eastern Europe         144
Eastern Asia                        28
Latin America and Caribbean        109
Middle East and Northern Africa     95
North America                       10
Southeastern Asia                   44
Southern Asia                       35
Sub-Saharan Africa                 179
Western Europe                     103
Name: Country, dtype: int64

HAving searched and mapped how these countries fit into these regions, we will make the following data dictionary in order to map countries and regions appropriately

In [18]:
# Dictionary with countries matched to their appropriate regions 
region_dict = {
     'Oman': 'Middle East and Northern Africa', 
     'Somaliland region': 'Sub-Saharan Africa',  
     'Mozambique': 'Sub-Saharan Africa', 
     'Lesotho': 'Sub-Saharan Africa', 
     'Swaziland': 'Sub-Saharan Africa', 
     'Djibouti': 'Sub-Saharan Africa', 
     'Central African Republic': 'Sub-Saharan Africa', 
     'Taiwan Province of China': 'Eastern Asia', 
     'Hong Kong S.A.R., China': 'Eastern Asia', 
     'Trinidad & Tobago': 'Latin America and Caribbean', 
     'Northern Cyprus': 'Central and Eastern Europe', 
     'North Macedonia': 'Central and Eastern Europe', 
     'Gambia': 'Sub-Saharan Africa'
}

In [19]:
# Use the map() method to modify the Region column
df['Region'] = df['Region'].fillna(df['Country'].map(region_dict))

In [20]:
print(df)

                      Country              Region  Rank  Score      GDP  \
0                 Switzerland      Western Europe     1  7.587  1.39651
1                     Iceland      Western Europe     2  7.561  1.30232
2                     Denmark      Western Europe     3  7.527  1.32548
3                      Norway      Western Europe     4  7.522  1.45900
4                      Canada       North America     5  7.427  1.32629
..                        ...                 ...   ...    ...      ...
151                    Rwanda  Sub-Saharan Africa   152  3.334  0.35900
152                  Tanzania  Sub-Saharan Africa   153  3.231  0.47600
153               Afghanistan       Southern Asia   154  3.203  0.35000
154  Central African Republic  Sub-Saharan Africa   155  3.083  0.02600
155               South Sudan  Sub-Saharan Africa   156  2.853  0.30600

     Life Expectancy  Freedom  Corruption  Generosity  year
0            0.94143  0.66557     0.41978     0.29678  2015
1            0.94784  0.62877     0.14145     0.43630  2015
2            0.87464  0.64938     0.48357     0.34139  2015
3            0.88521  0.66973     0.36503     0.34699  2015
4            0.90563  0.63297     0.32957     0.45811  2015
..               ...      ...         ...         ...   ...
151          0.61400  0.55500     0.41100     0.21700  2019
152          0.49900  0.41700     0.14700     0.27600  2019
153          0.36100  0.00000     0.02500     0.15800  2019
154          0.10500  0.22500     0.03500     0.23500  2019
155          0.29500  0.01000     0.09100     0.20200  2019

[782 rows x 10 columns]

In [21]:
df.isnull().sum()

Country            0
Region             0
Rank               0
Score              0
GDP                0
Life Expectancy    0
Freedom            0
Corruption         1
Generosity         0
year               0
dtype: int64

That looks much better!

Now just to check which missing value is in the Corruption column.

In [22]:
df. dtypes

Country             object
Region              object
Rank                 int64
Score              float64
GDP                float64
Life Expectancy    float64
Freedom            float64
Corruption         float64
Generosity         float64
year                 int64
dtype: object

### 04. Export

In [23]:
# Define the file path for exporting the DataFrame
export_path = "/Users/biancaskyehoney/Documents/World Happiness Report /02 Data /Prepared Data/df_clean.csv"

# Export the DataFrame to a pickle file
df.to_csv(export_path)